@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class = "justify-content-around">Lorem ipsum dolor sit amet</h1>
</div>

<div class="d-flex justify-content-around">
    <div class="card" style="width: 100%;">
        <img class="card-img-top" src="https://giffiles.alphacoders.com/210/210991.gif" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title" style="text-align: center">LETS PARTY</h5>
        </div>
    </div>
    <div class="card" style="width: 100%;">
        <img class="card-img-top" src="https://media2.giphy.com/media/jUzdBY5hPzPmftLAsQ/giphy-downsized-large.gif" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title" style="text-align: center">LETS PARTY</h5>
        </div>
    </div>
    <div class="card" style="width: 100%;">
        <img class="card-img-top" src="https://giffiles.alphacoders.com/210/210991.gif" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title" style="text-align: center">LETS PARTY</h5>
        </div>
    </div>
</div>